{{ define "main" }}

<!-- event single -->
<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="section-title">{{ .Title }}</h2>
      </div>
      <!-- research image -->
      <div class="col-12 mb-4">
        {{ partial "image.html" (dict "Src" .Params.image "Alt" .Title "Class" "img-fluid w-100" "Style" "height: 500px; width: 100%; object-fit: cover;") }}
      </div>
    </div>
    <!-- research details -->
    <div class="row">
      <div class="col-12 mb-50 content">
        {{ .Content }}
      </div>
    </div>
  </div>
</section>
<!-- /event single -->

{{ end }}