{{ define "main" }}

<!-- content -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-12 content">
                {{ .Content }}
            </div>
        </div>
    </div>
    <div class="container">

        <!-- case list -->
        <div class="row justify-content-center">
            <!-- case item -->
            {{ range .Data.Pages }}
            <div class="col-12 content">
                {{ .Render "cases" }}
            </div>
            {{ end }}
        </div>
        <!-- /case list -->
    </div>
</section>
<!-- /cases -->

{{ end }}