{{ define "main" }}

<!-- events -->
<section class="section bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex align-items-center section-title justify-content-between">
                    <h2 class="mb-0 text-nowrap mr-3">Events</h2>
                    <div class="border-top w-100 border-primary d-none d-sm-block"></div>
                    <div>
                        <a href="{{`event` | relLangURL }}"
                            class="btn btn-sm btn-primary-outline ml-sm-3 d-none d-sm-block text-nowrap">{{ i18n "see_all" }}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            {{ $events := where site.RegularPages "Type" "event" }}
            {{ $events := $events | intersect (where $events "Date" "ge" now) }}
            {{ if and (lt (len ($events)) 1)  }}
            <p>Er zijn nog geen events gepland, houd de site in de gaten!</p>
            {{ end }}
            <!-- event -->
            {{ range first 3 ($events)}}
            <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
                {{ .Render "event" }}
            </div>
            {{ end }}
        </div>
        <!-- mobile see all button -->
        <div class="row">
            <div class="col-12 text-center">
                <a href="{{`event` | relLangURL }}"
                    class="btn btn-sm btn-primary-outline d-sm-none d-inline-block">{{ i18n "see_all" }}</a>
            </div>
        </div>
    </div>
</section>
<!-- /events -->

<!-- blog -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="section-title">Blogs</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            {{ $blogs := where site.RegularPages "Type" "post" }}
            {{ if and (lt (len ($blogs)) 1)  }}
            <p>Er zijn nog geen blogs gepost, we zijn hiermee hard aan het werk!</p>
            {{ end }}
            <!-- blog post -->
            {{ range first 3 (where site.RegularPages "Type" "post")}}
            <article class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
                {{ .Render "post" }}
            </article>
            {{ end }}
        </div>
    </div>
</section>
<!-- /blog -->



{{ end }}