{{ define "main" }}
{{ $data := index site.Data site.Language.Lang }}
{{ $video_image1 := "/images/culture/video-1.png" }}
{{ $video_image2 := "/images/culture/video-2.png" }}
{{ $video_image3 := "/images/culture/video-3.png" }}
{{ $video_link1 := "https://youtu.be/3HxEJk6APy0"}}
{{ $video_link2 := "https://youtu.be/sZMcCRtbL28"}}
{{ $video_link3 := "https://youtu.be/IdV4n4hgIRY"}}
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-12 mb-4">
                <div class=" bg-cover">
                    <div class="position-relative success-video culture-video">
                        <img src="{{ $video_image1 | absURL }}"/>
                        <a class="play-btn venobox" href="{{ $video_link1 | safeURL }}" data-vbtype="video">
                            <i class="ti-control-play"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12 mb-4">
                <div class=" bg-cover">
                    <div class="position-relative success-video  culture-video">
                        <img src="{{ $video_image2 | absURL }}" />
                        <a class="play-btn venobox" href="{{ $video_link2 | safeURL }}" data-vbtype="video">
                            <i class="ti-control-play"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class=" bg-cover">
                    <div class="position-relative success-video  culture-video">
                        <img src="{{ $video_image3 | absURL }}" />
                        <a class="play-btn venobox" href="{{ $video_link3 | safeURL }}" data-vbtype="video">
                            <i class="ti-control-play"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- content -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-12 content">
                <h2 id="wij-zijn-dataworkz-de-specialist-in-data">Wij zijn Dataworkz. De specialist in Data.</h2>
                <p>En doen het net even anders. Met 23 collega’s zijn we de start-up fase voorbij en groeien we door.
                    Met interessante
                    projecten, eigen tooling (KubeETL, Bikeworkz) en een hecht team. Waar mens en techniek centraal
                    staan.</p>
                <div class="testimonial-quote group right">
                    <img src="/images/culture/lennard.jpg">
                    <div class="quote-container">
                        <blockquote>
                            <p>Eigenlijk is het voor iedereen hier onze hobby om met Data te werken, en we krijgen er
                                ook nog voor betaald, dus dat is
                                mooi”</p>
                        </blockquote>
                        <cite><a href="/team/lennard-eijsackers/"><span>Lennard</span></a><br>
                            Data Engineer
                        </cite>
                    </div>
                    <hr />
                </div>
                <h2 id="wat-doen-we">Wat doen we?</h2>
                <p>We doen heel erg veel en heel gevarieerd. Als het maar met data te doen heeft en onze klanten verder
                    gaat helpen. Je
                    werkt als consultant samen met de klant aan zijn projecten. En je Dataworkz family is er altijd in
                    de achtergrond om
                    je bij de klant te helpen, je zit er dus nooit alleen.<br>
                    Je werkt bij de klant. Op een project dat bij jouw past.</p>
                <div class="testimonial-quote group">
                    <img src="/images/culture/arno.jpg">
                    <div class="quote-container">
                        <blockquote>
                            <p>Het is een hechte groep mensen, die dezelfde passie hebben en ook dezelfde drive in het
                                degene wat zij doen”</p>
                        </blockquote>
                        <cite><a href="/team/arno-broekhof/"><span>Arno</span></a><br>
                            Data Engineer
                        </cite>
                    </div>
                    <hr />
                </div>
                <h2 id="hoe-werken-we-samen">Hoe werken we samen?</h2>
                <p>Ons team bestaat uit data scientisten, data engineers, machine learning engineers. Kennisdeling,
                    innovatie en
                    productontwikkeling zijn voor ons vanzelfsprekend. Onze kennis delen we ook graag met anderen,
                    hiervoor organiseren
                    we regelmatig meetup’s en workshops. Om ons te laten inspireren bezoeken we wereldwijde conferenties
                    (Londen,
                    Moskou). Zelf zijn we ook spreker of geven presentaties op diverse conferenties zoals ODSC, Devoxx,
                    Teqnation en
                    JFall.</p>
                <p>Binnen Dataworkz hebben we korte lijnen waardoor beslissingen snel genomen worden. We gelover niet in
                    hiërarchie maar
                    wel in structuur. En samen meer bereiken dan alleen. Samen bouwen we een mooi en succesvol
                    Dataworkz.<br>
                    Onze cultuur is ons succes. Begonnen als vriendenclub, nog steeds een vriendenclub. Eentje van
                    slimme entreprenerds.
                    Dat is wat ons verbindt en hoe we met elkaar omgaan.</p>
                <div class="testimonial-quote group right">
                    <img src="/images/culture/joep.jpg">
                    <div class="quote-container">
                        <blockquote>
                            <p>Je hebt bij Dataworkz zelf heel veel invloed op wat je doet en wat er allemaal tussendoor
                                gebeurt. Ik heb dus
                                bijvoorbeeld ook heel veel invloed gehad binnen Dataworkz, want ik heb de koffie
                                uitgekozen”</p>
                        </blockquote>
                        <cite><a href="/team/joep-kokkeler/"><span>Joep</span></a><br>
                            Data Engineer
                        </cite>
                    </div>
                    <hr />
                </div>
                <p>Om jezelf te blijven ontwikkelen vinden we het ideale project, dat het beste bij jou aansluit.
                    Projecten waar je
                    energie van krijgt. Goed voor jou en voor onze klant.<br>
                    Naast hard werken wordt er ook veel plezier gemaakt. We organiseren regelmatig socials, wat naast
                    fun ook de band
                    met elkaar versterkt.</p>
                <p>Wil je echt zien wat we hebben gedaan? Neem een kijk op onze <a href="/about">tijdlijn</a>!</p>
            </div>
        </div>
    </div>
</section>
<!-- /content -->

{{ end }}