<section class="timeline">
  <div class="container">
    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content js--fadeInLeft">
        <h2>Start Dataworkz</h2>
        <div class="date">1 mei 2017</div>
        <p>
          Startupfeeling bij de geboorte van Dataworkz op onze Kickoff BBQ. Door
          veel met elkaar te doen, voelt het snel vertrouwd ook voor onze
          partners en families en durft men elkaar uit te dagen met inspirerende
          vakinhoudelijke ideeën – of een tof waterpistolen gevecht.
        </p>
        <!-- <a class="bnt-more" href="javascript:void(0)">More</a> -->
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content timeline-card js--fadeInRight">
        <div class="timeline-img-header timeline-slide1">
          <h2>1e meetup</h2>
        </div>
        <div class="date">10 oktober 2017</div>
        <p>
          Kennisdeling staat centraal. Zo ook bij de eerste meetup waar Arno
          Broekhof verteld over Elastiscsearch warstories bij de politie. Gelijk
          volle bak en dozen vol pizza’s.
        </p>
        <!-- <a class="bnt-more" href="javascript:void(0)">More</a> -->
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-img"></div>

      <div class="timeline-content js--fadeInLeft">
        <div class="date">23 oktober 2017</div>
        <h2>Driften en meer</h2>
        <p>
          Ons eerste echte bedrijfsuitje waarbij heerlijke stoere dingen hebben
          gedaan van driften met een oude BMW tm quad rijden door de blubber.
          Uiteindelijk moest een escape room de beslissing brengen …. scientists
          vs engineers. Maar het begon met spareribs
        </p>
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content js--fadeInRight">
        <h2>Kerstdiner</h2>
        <div class="date">20 december 2017</div>
        <p>
          Tijd om de eerste successen met elkaar te vieren bij een feestelijk
          kerstdiner. Vieren doen we niet alleen maar zo veel mogelijk met de
          partners en de families. Met kerst is een mooie traditie geboren....
          een feestelijk kerstdiner met de partners op een mooie locatie.
        </p>
        <!-- <a class="bnt-more" href="javascript:void(0)">More</a> -->
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content js--fadeInLeft">
        <div class="date">24 januari 2018</div>
        <h2>Skien</h2>

        <p>
          Fun is erg belangrijk voor ons en waar beter om gezellig met elkaar
          een hoop lol te hebben dan in de sneeuw. Het eerste dataworkz ski
          uitje is geboren en zal onderdeel worden van de jaarlijkse agenda van
          het bedrijf. Niet verplicht maar wel erg gezellig en vooral ook leuk
          om met elkaar te skiën en een drankje te drinken.
        </p>
        <!-- <a class="bnt-more" href="javascript:void(0)">More</a> -->
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-img"></div>

      <div class="timeline-content timeline-card js--fadeInRight">
        <div class="timeline-img-header timeline-slide2">
          <h2>Workzpoor Thursday</h2>
        </div>
        <div class="date">5 mei 2018</div>
        <p>
          Elkaar inspireren en kennis delen. Hoe doe je dat als je veel bij
          klanten werkt? Bij Dataworkz hebben we daarom regelmatig de Workzpoor
          Thursdays, waar we op kantoor in de Werkspoorkathedraal werken, elkaar
          en onze klanten helpen. Bij lunchsessies en avondworkshops werden
          ervaringen gedeeld. We sluiten af met onze inmiddels traditionele
          thaise diner en natuurlijk een biertje.
        </p>
        <!-- <a class="bnt-more" href="javascript:void(0)">More</a> -->
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-img"></div>

      <div class="timeline-content timeline-card js--fadeInLeft">
        <div class="timeline-img-header timeline-slide3">
          <h2>Dataworkz weekend</h2>
        </div>
        <div class="date">15 juni 2018</div>
        <p>
          We vieren de verjaardag van Dataworkz met een luxe weekendje weg in de
          Ardennen. Samen met onze partners genieten we van de natuur en doen we
          leuke dingen zoals Kajaken, Chocolade workshop, biljarten, buiten
          bubble baden en natuurlijk ook hebben we ook een gezellige feestavond
          met DJ Bas..
        </p>
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-img"></div>

      <div class="timeline-content js--fadeInRight">
        <h2>Meetups</h2>

        <div class="date">4 oktober 2018</div>
        <p>
          Met inmiddels 5 meetups zijn we op stoom en vertellen we samen met
          Hashicorp hoe je multicloud platformen secuur kan maken. Het is vooral
          leuk om meetups met klanten samen te doen, zoals ook met de Port of
          Rotterdam, waar we gezamenlijk toelichten hoe Data Science Serverless
          werkt op land, in de zee en in de cloud.
        </p>
        <!-- <a class="bnt-more" href="javascript:void(0)">More</a> -->
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-img"></div>

      <div class="timeline-content timeline-card js--fadeInLeft">
        
        <div class="timeline-img-header timeline-slide4">
          <h2>ODSC Conference London</h2>
        </div>
        <div class="date">20 november 2018</div>
        <p>
          Wat zijn we blij dat onze Olaf op de ODSC mag presenteren hoe hij met
          Tweets de bitcoin market kan voorspellen. Niet alleen omdat we hier
          supertrots op zijn, maar vooral omdat dit leidt tot veel inspirerende
          gesprekken met en zonder bier. Met directe resultaten bij onze klanten
          (zoals het inzetten van AutoML). En omdat het zo leuk is, gaan we nog
          meer spreken op Devoxx Belgie, Hashidays, Teqnation en de JFall.
        </p>
        <!-- <a class="bnt-more" href="javascript:void(0)">More</a> -->
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-img"></div>

      <div class="timeline-content js--fadeInRight">
        <h2>Feestelijk kerstdiner</h2>

        <div class="date">14 december 2018</div>
        <p>
          Met inmiddels 5 meetups zijn we op stoom en vertellen we samen met
          Hashicorp hoe je multicloud platformen secuur kan maken. Het is vooral
          leuk om meetups met klanten samen te doen, zoals ook met de Port of
          Rotterdam, waar we gezamenlijk toelichten hoe Data Science Serverless
          werkt op land, in de zee en in de cloud.
        </p>
        <!-- <a class="bnt-more" href="javascript:void(0)">More</a> -->
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-img"></div>

      <div class="timeline-content timeline-card js--fadeInLeft">
        
        <div class="timeline-img-header timeline-slide5">
          <h2>Skivakantie in Saalbach</h2>
        </div>
        <div class="date">16 januari 2019</div>
        <p>
          Ook dit jaar weer samen met onze zusterbedrijven overdag met skies de
          berg op, en s’avonds met Tony de Almhütte op aprés skien.
        </p>
        <!-- <a class="bnt-more" href="javascript:void(0)">More</a> -->
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-img"></div>

      <div class="timeline-content js--fadeInRight">
        <h2>Machine learning insights into Google Brain and Dutch Cows</h2>

        <div class="date">26 maart 2019</div>
        <p>
          Was een van de meest succesvolle meetups 2019 met meer dan 90
          deelnemers. Met elke 2 maanden een meetup en gast sprekers tellen we
          nu 600 leden in de meetup groep. We vertellen hoe je met GraphQL een
          neural network traint, hoe je met Reinforcement en Transfer learning
          alles uithaalt uit je data en natuurljik hoe we van tevoren weten
          wanner hollandse koeien tochtig zijn.
        </p>
        <!-- <a class="bnt-more" href="javascript:void(0)">More</a> -->
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-img"></div>

      <div class="timeline-content timeline-card js--fadeInLeft">
        
        <div class="timeline-img-header timeline-slide6">
          <h2>Codecamp</h2>
        </div>
        <div class="date">12 april 2019</div>
        <p>
          Met elkaar ongestoord overdag in de woonkamer bezig zijn met techniek.
          Dat noemen we Codecamp en doen we op mooie lokaties in vakantiehuisjes
          - deze keer met ons zustertje Skyworkz. We leren Golang, bouwen een
          Kubernetes cluster, doen Cloud Analytics in AWS en leren over transfer
          learning.
        </p>
        <!-- <a class="bnt-more" href="javascript:void(0)">More</a> -->
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-img"></div>

      <div class="timeline-content timeline-card js--fadeInRight">
        <div class="timeline-img-header timeline-slide7">
          <h2>Dataworkz Weekend</h2>
        </div>
        <div class="date">21 juni 2019</div>
        <p>
          We zijn weer in de Ardennen met de hele club en alle partners erbij.
          In een luxe huisje is het genieten van de swimming pool het warme BBQ
          weer en de Cocktail workshop van onze Tjian. Overdag sportief met het
          mountain bike de heuvels op of lekker genieten ondergronds van de
          grotten van Han. Maar vooral heerlijk met elkaar kletsen en vieren.
        </p>
        <!-- <a class="bnt-more" href="javascript:void(0)">More</a> -->
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-img"></div>

      <div class="timeline-content timeline-card js--fadeInLeft">
        <div class="timeline-img-header timeline-slide8">
          <h2>Big Data Days Moscow</h2>
        </div>
        <div class="date">10 oktober 2019</div>
        <p>
          We zijn ook dit jaar weer met de hele club op bezoek bij de ODSC in
          London, maar het was natuurlijk bijzonders speciaal op de Big Data
          Days in Moscow te mogen spreken. Arno en Bogdan presenteerden Data
          Science as a Service en hoe je met beeldherkenning op slimme manier
          parkeerkosten kan besparen J. En als je dan in Moskou mag spreken
          kunnen we ze natuurlijk niet alleen laten gaan dus waren we daar met
          een mooie delegatie om het congres bij te wonen en tussendoor ook
          Moskou bekijken.
        </p>
        <!-- <a class="bnt-more" href="javascript:void(0)">More</a> -->
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-img"></div>

      <div class="timeline-content timeline-card js--fadeInRight">
        <div class="timeline-img-header timeline-slide10">
          <h2>Kerstdiner en andere socials</h2>
        </div>
        <div class="date">13 december 2019</div>
        <p>
          Met rond 40 gasten huren we deze keer een hele etage van de watertoren
          in Utrecht af voor ons jaarlijks kerstdiner. Er waren veel socials dit
          jaar, zoals kitevliegeren, golven, een dagje walibi of gewoon stappen
          in Rotterdam, maar bourgondisch een feestelijk genieten van een luxe
          kerstdiner hoort altijd tot de hoogte punten.
        </p>
        <!-- <a class="bnt-more" href="javascript:void(0)">More</a> -->
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-img"></div>

      <div class="timeline-content timeline-card js--fadeInLeft">
        
        <div class="timeline-img-header timeline-slide11">
          <h2>Skitrip naar Gerlos</h2>
        </div>
        <div class="date">18 januari 2020</div>
        <p>
          Traditioneel ski weekje in een mooi hotel direct aan de piste. Bij
          Kaiserwetter met een groep van 16 man dansen bij Seppies. Ook weer met
          een groepje beginners die les nemen, om zo ook naar Seppies te kunnen.
        </p>
        <!-- <a class="bnt-more" href="javascript:void(0)">More</a> -->
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-img"></div>

      <div class="timeline-content timeline-card js--fadeInRight">
        <div class="timeline-img-header timeline-slide12">
          <h2>Nieuwjaarsborrel</h2>
        </div>
        <div class="date">9 januari 2020</div>
        <p>
          We starten het jaar en onze nieuwjaarsborrel met een escape room. A la
          casa de papel moeten we een bankkluis kraken. Ik weet niet hoe ze het
          geflikt hebben maar we staan op het all-time scorebord.
        </p>
        <!-- <a class="bnt-more" href="javascript:void(0)">More</a> -->
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-img"></div>

      <div class="timeline-content timeline-card  js--fadeInLeft">
        
        <div class="timeline-img-header timeline-slide13">
          <h2>We hebben een nieuw kantoor</h2>
        </div>
        <div class="date">2 februari 2020</div>
        <p>
          Vol trots openen we de deuren naar ons hippe pand in de
          Werkspoorkathedraal. Ingericht met veel plek, veel licht en natuurlijk
          veel gadgets, zoals VR, arcade en een unieke grijpmachine voor de
          snacks. Groot feest op onze openingsparty.
        </p>
        <!-- <a class="bnt-more" href="javascript:void(0)">More</a> -->
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-img"></div>

      <div class="timeline-content timeline-card js--fadeInRight">
        <div class="timeline-img-header timeline-slide14">
          <h2>Meetups</h2>
        </div>
        <div class="date">4 februari 2020</div>
        <p>
          Het is pas februari maar we hebben al 2 meetups georganiseerd. Jeff en
          Jurriaan geven een workshop Timeseries met Facebook Prophet – voor het
          eerst in ons nieuw kantoor. En samen met Dataiku – een van onze
          partners – presenteren wij data science op productie best practices.
        </p>
        <!-- <a class="bnt-more" href="javascript:void(0)">More</a> -->
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-img"></div>

      <div class="timeline-content timeline-card js--fadeInLeft">
        
        <div class="timeline-img-header timeline-slide16">
          <h2>En dan was de corona golf opeens in Nederland</h2>
        </div>
        <div class="date">15 mei 2020</div>
        <p>
          2 maanden thuis werken. Afstand houden, geen high-fives. Dat valt ons
          bestwel zwaar. We doen veel zoom meetings en webinars maar we missen
          het toch om op kantoor te werken. Halverwege mei kunnen we met de
          nodige maatregelen voor het eerst weer eens in kleine groepen op
          kantoor werken. Wat voelt dit goed.
        </p>
        <!-- <a class="bnt-more" href="javascript:void(0)">More</a> -->
      </div>
    </div>
  </div>
</section>
