{{ define "main" }}
<section class="section solutions">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">{{ .Content }}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div>
          <!-- course item -->
          <h3 id="data-oplossingen">Data Oplossingen</h3>
          <div class="row justify-content-center content">
            {{ range (where .Site.Pages "Params.focus" "solutions") }}
            {{ .Render "solutions" }}
            {{ end }}
          </div>
          <div class="row justify-content-center">
            <a href="{{ `/contact` | absLangURL }}" class="btn btn-primary">Neem contact op!</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="">
          <!-- course item -->
          <h3 id="data-consulting">Data consulting</h3>
          <div class="row justify-content-center content">
            {{ range (where .Site.Pages "Params.focus" "consulting") }}
            {{ .Render "solutions" }}
            {{ end }}
          </div>
          <div class="row justify-content-center">
            <a href="{{ `/contact` | absLangURL }}" class="btn btn-primary">Neem contact op!</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="">
          <!-- course item -->
          <h3 id="data-workshop">Data Workshops</h3>
          <div class="row justify-content-center content">
            {{ range (where .Site.Pages "Params.focus" "workshop") }}
            {{ .Render "solutions" }}
            {{ end }}
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- courses -->

  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-center section-title justify-content-between">
          <h2 class="mb-0 text-nowrap mr-3">Workshops</h2>
          <div class="border-top w-100 border-primary d-none d-sm-block"></div>
          <div>
            <a href="{{ `course` | relLangURL }}"
              class="btn btn-sm btn-primary-outline ml-sm-3 d-none d-sm-block">{{ i18n "see_all" }}</a>
          </div>
        </div>
      </div>
    </div>
    <!-- course list -->
    <div class="row justify-content-center">
      <!-- course item -->
      {{ range first 3 (where site.RegularPages "Type" "course")}}
      <div class="col-lg-4 col-sm-6 mb-5">{{ .Render "course" }}</div>
      {{ end }}
    </div>
    <!-- /course list -->
  </div>
</section>
<!-- /courses -->

{{ end }}